body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #575757;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e5e5;
  padding: 0 20px;
}


nav a {
  text-decoration: none;
  margin-left: 10px;
  color: inherit;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 4px;
  transition: all .2s;
}


nav a:hover {
  color: #ffffff;
  background-color: #464543;
}

nav a.active {
  color: #ffffff;
  background-color: #464543;
}

.content {
  width: 400px;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-size: 13px;
  margin-bottom: 10px;
  font-weight: bold;
}

label.label-required::after {
  content: "*";
  margin-left: 3px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
  border-radius: 4px;
}

input[type=checkbox] {
  width: unset;
  margin-right: 5px;
}

button {
  width: 100%;
  padding: 10px 0;
  font-weight: bold;
  background-color: #198754;
  border: 1px solid #198754;
  color: #ffffff;
  border-radius: 4px;
}

button:disabled {
  opacity: .5;
  cursor: not-allowed;
}

div.error {
  font-size: 13px;
  color: #dc3545;
}